<div class="w-full h-[93vh] px-4 py-3 relative">
    <div class="w-50 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border p-6 border-cyan-800 rounded-lg border-1 shadow-xl">
        <h1 class="text-center mt-2 pb-4 text-cyan-900 text-xl font-semibold">Ajout de client</h1>
        <form class="px-3 py-3" [formGroup]="clients"  (ngSubmit)="onSubmit()">
            <div class="fullname w-full mb-4">
                <label for="fullname" class="w-full my-7">Nom complet</label>
                <input type="text" class="w-full px-4 py-2 border-2 border-cyan-800 rounded-sm mt-4" name="fullname" formControlName="fullname" id="fullname" placeholder="Nom complet">
                <div class="text-red-500 text-sm" *ngIf="clients.controls['fullname'].errors && clients.controls['fullname'].touched">
                    {{showErrorMessages(clients.controls['fullname'].errors, "fullname")}}
                </div>
            </div>

            <div class="email w-full mb-4">
                <label for="email" class=" w-full mb-3">Email</label>
                <input type="text" class="w-full px-4 py-2 border-2 border-cyan-800 rounded-sm mt-4" name="email" formControlName="email" id="email" placeholder="email">
                <div class="text-red-500 text-sm" *ngIf="clients.controls['email'].errors && clients.controls['email'].touched">
                    {{showErrorMessages(clients.controls['email'].errors,"email")}}
                </div>
            </div>

            <div class="phone w-full mb-4">
                <label for="phone" class="w-full mb-3">Téléphone</label>
                <input type="text" class="w-full px-4 py-2 border-2 border-cyan-800 rounded-sm mt-4" name="phone" formControlName="phone" id="phone" placeholder="Téléphone">
                <div class="text-red-500 text-sm" *ngIf="clients.controls['phone'].errors && clients.controls['phone'].touched">
                    {{showErrorMessages(clients.controls['phone'].errors,"phone")}}
                </div>
            </div>

            <div class="w-full mt-4">
                <button type="submit" class="w-full bg-cyan-800 px-3 py-2 text-white rounded-sm" [disabled]="clients.invalid">Enregistrer</button>
            </div>
        </form>
    </div>
</div>